{{#with program.excursion}}
<div>
    <div>
        <h1>{{name}}</h1>
    </div>

    <hr>

    <div>
        <h2>{{location.city}}, {{location.country}}</h2>
        {{date}}
    </div>

    <hr>

    {{#with program.[0]}}
    <div>
        <div>
            <h3>{{name}} - {{type}} ({{duration}})</h3>
        </div>

        {{#with details.museum}}
        <div>
            <div>
                <h4>{{name}}</h4>

                {{#with location}}
                <address>({{address}}, {{city}}, {{country}})</address>
                {{/with}}
            </div>

            <div>
                <ol>
                    {{#each exhibits}}
                    <li>
                        {{name}} - {{description}}
                        <p>
                            {{#if artist}}
                            Artist: {{artist}}
                            {{/if}}
                        </p>
                    </li>
                    {{/each}}
                </ol>
            </div>
        </div>
        {{/with}}

        {{#with details.guide}}
        <div>
            Guide: {{name}} <br>
            Language: {{language}} <br>
            Rating: {{rating}}
        </div>
        {{/with}}
    </div>
    {{/with}}

    <hr class="my-3">

    {{#with program.[1]}}
    <div>
        <div>
            <h3>{{name}} - {{type}} ({{duration}})</h3>
        </div>

        {{#with details}}
        <div>
            {{#with venue}}
            <div class="mb-3">
                <h4>{{name}}</h4>

                {{#with location}}
                <address>({{address}}, {{city}}, {{country}})</address>
                {{/with}}
            </div>
            {{/with}}

            <div>
                Performers:
                <ol>
                    {{#each performers}}
                    <li class="mb-4">
                        {{name}} - {{type}}
                    </li>
                    {{/each}}
                </ol>
            </div>

            {{#with guide}}
            <div>
                <p>Guide: {{name}} </p>
                <p>Language: {{language}} </p>
                <p>Rating: {{rating}}</p>
            </div>
            {{/with}}
        </div>
        {{/with}}
    </div>
    {{/with}}
</div>
{{/with}}