<main class="row m-5">

    <section>
        <div class="card mt-2 mb-5">
            {{#with navigation}}
            <div class="nav">
                {{#each links}}
                <div class="nav-item">
                    <a href="{{href}}" class="nav-link">{{text}}</a>
                </div>
                {{/each}}
                <a href="#" class="nav-link disabled">Disabled</a>
            </div>
            {{/with}}
        </div>

        <nav aria-label="breadcrumb" class="mb-4">
            <ol class="breadcrumb">
                {{#each breadcrumb}}
                {{#if url}}
                <li class="breadcrumb-item">
                    <a href="{{url}}">{{name}}</a>
                </li>
                {{else}}
                <li class="breadcrumb-item active" aria-current="page">{{name}}</li>
                {{/if}}
                {{/each}}
            </ol>
        </nav>

        <h1>{{header}}</h1>

        <div class="col-9 mb-4">
            <div class="card-body row">
                {{#each sortBlock}}
                <div class="col-4">
                    <select class="form-select">
                        <option>{{placeholder}}</option>
                        {{#each options}}
                        <option value="value">{{text}}</option>
                        {{/each}}
                    </select>
                </div>
                {{/each}}
            </div>
        </div>
    </section>


    <div class="row">

        {{#with filterBlock}}
        <div class="card col-4 p-2">

            {{#with sellers}}
            <div>
                <p>{{title}}</p>

                {{#each list}}
                <div class="form-check">
                    <label class="form-check-label">{{value}}</label>
                    <input name="sellers" type="checkbox" class="form-check-input">
                </div>
                {{/each}}
            </div>
            {{/with}}

            <hr class="my-4">

            {{#with brands}}
            <div>
                <p>{{title}}</p>

                {{#with input}}
                <input class="form-control mb-3" placeholder="{{placeholder}}">
                {{/with}}

                {{#each options}}
                <div class="form-check">
                    <label class="form-check-label">{{value}}</label>
                    <input name="brands" type="checkbox" class="form-check-input">
                </div>
                {{/each}}
            </div>
            {{/with}}

            <hr class="my-4">

            {{#with price}}
            <div>
                <p>{{title}}</p>

                {{#with range}}
                <input class="form-control mb-3" placeholder="{{from}}">
                <input class="form-control mb-3" placeholder="{{to}}">
                {{/with}}

                {{#with button}}
                <a class="btn btn-outline-secondary" href="{{link}}">{{text}}</a>
                {{/with}}
            </div>
            {{/with}}

            {{#each filterList}}
            <div>
                <hr class="my-4">

                <p>{{title}}</p>

                {{#each options}}
                <div class="form-check">
                    <label class="form-check-label">{{value}}</label>
                    <input type="checkbox" class="form-check-input">
                </div>
                {{/each}}

            </div>
            {{/each}}
        </div>
        {{/with}}

        <div class="col-8">
            {{> catalogItem}}
        </div>
    </div>

    </div>

</main>