{{#with web}}
<div>
    <div>
        <h1>Languages</h1>
    </div>

    <div>
        <ol>
            {{#each languages}}
            <li class="mb-4">
                <div>
                    <h2>{{name}}</h2>
                    <p class="mb-4">Version: {{version}}</p>
                    <description>{{description}}</description>
                </div>

                {{#if elements}}
                <div class="mt-3">
                    <p class="mb-4">Elements:</p>

                    <ul>
                        {{#each elements}}
                        <li class="mb-3">
                            <strong>{{name}}</strong>
                            <description>- {{description}}</description>

                            <p class="my-3">Attributes:</p>

                            <ol>
                                {{#each attributes}}
                                <li>
                                    <strong>{{name}}</strong>
                                    <description> - {{description}}</description>
                                </li>
                                {{/each}}
                            </ol>
                        </li>
                        {{/each}}
                    </ul>
                </div>
                {{/if}}

                {{#if properties}}
                <div class="mt-4">
                    <div>
                        <p class="mb-3">Properties:</p>

                        <ul>
                            {{#each properties}}
                            <li class="mb-3">
                                <strong>{{name}}</strong>
                                <description> - {{description}}</description>
                                <p class="my-3">Values:</p>
                                <ul>
                                    {{#each values}}
                                    <li>
                                        <strong>{{value}}</strong>
                                        <description> - {{description}}</description>
                                    </li>
                                    {{/each}}
                                </ul>
                            </li>
                            {{/each}}
                        </ul>
                    </div>
                    {{/if}}

                    {{#if functions}}
                    <div>
                        <p class="mb-3">Functions:</p>
                        <ul>
                            {{#each functions}}
                            <li class="mb-3">
                                <strong>{{name}}</strong>
                                <description>- {{description}}</description>
                                <p class="my-3">Parameters:</p>
                                <ul>
                                    {{#each parameters}}
                                    <li>
                                        <strong>{{name}}</strong>
                                        ({{type}})
                                        <description> - {{description}}</description>
                                    </li>
                                    {{/each}}
                                </ul>
                            </li>
                            {{/each}}
                        </ul>
                    </div>
                    {{/if}}
            </li>
            {{/each}}
        </ol>
    </div>
</div>
{{/with}}